
.App {
  text-align: center;
  font-family: 'Varela Round', sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*Estilos del componente ITEMCOUNT*/
.Counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.Controls {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.Button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: #ffe3c6;
  border-radius: 50%;
  border: none;
  font-size: 18px;
  color: #282c34;
  cursor: pointer;
}

.Button:hover {
  background-color: #ffa974;
}

.Number {
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin: 0 10px;
}

.ButtonAdd {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #ffe3c6;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
}

.ButtonAdd:hover {
  background-color: #ffa974;
  color: #fff;
}

.ButtonAdd:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.Controls .Button:first-child {
  margin-right: 10px;
}

.Controls .Button:last-child {
  margin-left: 10px;
}


/*Estilos cards*/
.CardItem {
  display: inline-flex;
  flex-direction: column;
  width: 270px;
  height: 550px;
  margin: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}

.CardItem:hover {
  transform: translateY(-5px);
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.3);
  background-color: #ffd4b4;
}

.Header {
  background-color: #ffad7a;
  color: white;
  padding: 10px;
  text-align: center;
  border-radius: 10px 10px 0px 0px;
  font-size: 16px;
}

.CardItem .Header .ItemHeader {
  font-size: small;
}


.ItemImage {
  width: auto;
  height: auto;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
}


.Info {
  padding: 10px;
  margin: 0px;
  font-size: 16px;
}

.ItemFooter {
  background-color: #ffad7a;
  color: white;
  padding: 10px;
  text-align: center;
  border-radius: 0px 0px 10px 10px;
}

.Option {
  background-color: #ff704d;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.Option:hover {
  background-color: #ffad7a;
  transform: scale(1.1);
}

#cardTitle {
  font-size: large;
}